html
	font-size: 10px
	body
		font-size: 1.4em
		font-family: $Segoe-Light
		background: #e1cfe9
		color: $baseColor
		b
			font-family: $Segoe-Bold
		i
			font-family: $Segoe-Italic
		.button
			display: block
			width: 276px
			background: #fff
			color: $baseColor
			text-decoration: none
			text-transform: uppercase
			padding: 23px 0
			@include transition(all .3s)
			&:hover
				background: $buttonColor
				color: #fff