html
	font-size: 10px
	body
		font-size: 1.4em
		font-family: $Segoe-Light
		background: #e1cfe9

		.wrapper
			width: 830px
			margin: 0 auto
			//
			// Header
			//
			.main-header
				padding: 60px 0
				text-align: center
				img
					width: 68px
					height: 68px
			//
			// Banner
			//
			.main-banner
				background: #e1cfe9
				border: 1px solid #d2bedb
				padding-top: 140px
				position: relative
				margin-bottom: 54px
				@include box-shadow(0 0 60px rgba(208, 34, 106, .07))
				& > img
					position: absolute
					&.banner-ontour
						top: 0
						left: 0
						width: 125px
					&.dollar
						top: 62px
						left: 78px
					&.euro
						bottom: 53px
						right: 66px
				.banner-content
					width: 467px
					margin: 0 auto
					text-align: center
					.banner-text-big
						width: 467px
						margin-bottom: 44px
					h3
						text-transform: uppercase
						text-align: center
						position: relative
						padding: 35px 0 50px
						color: $baseColor
						&:before
							content: ""
							display: block
							position: absolute
							top: 0
							left: 50%
							width: 232px
							margin-left: -116px
							border-top: 1px dotted $baseColor
						b
							font-family: $Segoe-Bold
							position: relative
							&:after
								content: ""
								display: block
								width: 82px
								height: 31px
								position: absolute
								top: 50%
								right: -1px
								margin-top: -16px
								background: url("../images/banner-text-dots.png") no-repeat 0 0 transparent
			//
			// Reserve
			//
			.main-reserve
				@import "compass/utilities/general/clearfix"
				& > div
					text-align: center
					width: 276px
					float: left
					color: $baseColor
					&.disabled
						@include opacity(.3)
					&.active
						position: relative
						&:before
							content: ""
							display: block
							width: 181px
							height: 114px
							position: absolute
							top: -36px
							left: 50%
							margin-left: -90px
							background: url("../images/reserve-selected.png") no-repeat top center transparent
					h3
						font-size: 2.5em
						line-height: 1.2em
						text-transform: uppercase
						font-weight: normal
					b, i
						line-height: 1.2em
						text-transform: none
					b
						font-family: $Segoe-Bold
						text-transform: uppercase
					i
						display: block
						font-family: $Segoe-Italic
						margin-bottom: 27px
					a
						display: block
						color: $baseColor
						border: 1px solid #d4bddf
						text-decoration: none
						text-transform: uppercase
						padding: 21px 0 20px
						@include transition(all .3s)
						&:hover
							color: #fff
							background: $buttonColor
							border-color: $buttonColor
						b
							font-family: $Segoe-Bold
					&.disabled
						a
							cursor: default
							@include transition(none)
							&:hover
								color: $baseColor
								background: transparent
								border: 1px solid #d4bddf
					&:first-child
						&.disabled + div
							a
								border-left: 1px solid #d4bddf
						& + div
							a
								border-left: none
								border-right: none
						& + div + .disabled
							a
								border-left: 1px solid #d4bddf
								border-right: 1px solid #d4bddf